* {
  box-sizing: border-box;
}

#head {
  background-color: rgb(170, 95, 10);
  color: antiquewhite;
  text-align: center;
  width: 22%;
  height: 80px;
  padding: 15px;
  margin: 17px;
  font-family: cursive;
}

.cards {
  margin: 15px;
  padding: 5px;

}

.card-body {
  background-color: pink;
  text-align: start;
  color: green;
  width: 35%;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-left{
  color: black;
  text-emphasis: bolder;
  background-color: aquamarine;
}

.winspan{
  color: black;
  text-emphasis: bolder;
  background-color: aquamarine; 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.randomnumber {
  background: rgb(77, 173, 74);
  margin-left: 22px;
  height: 75px;
}

#random-number{
  color: purple;
  margin-left: 70px;

}
.columns {
  background-color: teal;
  color: white;
  margin-top: 200px;
  width: 26%;
  margin-left: 15px;
  height: 40%;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}